@model IEnumerable<Bulky_Book.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var product in Model)
        {
        <div class="col-3 card">
            <br/>
            <div class="card-body">

                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img src="@Url.Content("~/" + product.ImageUrl)" style="width:100%;height:300px;" />
                }
                else
                {
                    <img style="width:100%;" src="~/img/default_product.png" />
                }
                <label>@product.Title</label><br />
                <label>by <bold>@product.Author</bold></label><br />
                <label>@product.ISBN</label><br />
                <label>List price:$@product.ListPrice.ToString("0.00")</label><br />
                <label>As low as: $@product.Price50.ToString("0.00")</label>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-primary" asp-action="Details" asp-route-id="@product.Id">View details</button>
            </div>
        </div>
        }
    </div>
</div>
